.Rproj.user
.Rhistory
.RData
.Ruserdata
_bookdown_files/
*.rds
*.md
*.log
*.tex
*.pdf
05-DEA_cache
Optimization Modeling Using R.Rmd
OMUR.*
ETM540-S22-Final-Exam.Rmd
OMUR - Copy.bbl
OMUR - Copy.blg
_02-Sol.Rmd
_HW7-202104.Rmd
_luciane.Rmd
_Yoder-F22-Final-Exam.Rmd
_ETM540-F22-Final-ExamS.Rmd
_HW5-Soln.Rmd
_Practice Problems.Rmd
